/CodeBlocks.lnk
/Columna.pdf
/Comprobante de Inscripción.pdf
/desktop.ini
/Discord.lnk
/Genshin Impact.lnk
/Grabación 2025-08-15 212306.mp4
/HoYoPlay.lnk
/InstallShield.log
/laboratorio 10
/Laboratorio 10 intento 2
/Laboratorio 8
/Mi video-Miniatura.jpg
/Mi video-resaltar.mp4
/Mi video.mp4
/Navegador Opera.lnk
/osu!.lnk
/Persona 1 - Chrome.lnk
/Personal - Edge.lnk
/pin.pdf
/Proyecto final
/prueba no se que
/R.E.P.O..url
/Rave.lnk
/Roblox Player.lnk
/Roblox Player.zip
/Roblox Studio.lnk
/SketchUp-2025-0-571-242.exe
/SteamSetup.exe
/TLauncher.lnk
/Trabajos code block
/Video de WhatsApp 2025-08-15 a las 21.21.54_54d36c85.mp4
/Visual Studio Code.lnk
/Wondershare Filmora 14.lnk
/Zoom Workplace.lnk